<div class = "content__section">
    <h1 class = "content__title content__title__glitch" data-text="Glitter">Glitter</h1>
    <div class = "content__wrapper">
        <p class = "content__text">This material has a glitter effect to make that applied to spheres make them beautiful! The rotation is applied from outside the shader, so no panners are involved in the rotation of the sphere.</p>
        <video class = "material__video" src = "assets/images/ue-materials/glitter/video.mp4" playsinline autoplay muted="true" defaultMuted loop></video>       
        <p class = "content__text">This is the material shader:</p>
        <img src = "assets/images/ue-materials/glitter/shader_1.png">
        <p class = "content__text">Emissive color:</p>
        <img src = "assets/images/ue-materials/glitter/shader_2_emissive.png">
        <p class = "content__text">Normals:</p>
        <img src = "assets/images/ue-materials/glitter/shader_3_normal.png">
    </div>
</div>
