<!-- <hr> -->

<div class = "banner">
    <h1 class = "content__title content__title__glitch" data-text="Unreal Engine 5 Materials">Unreal Engine 5 Materials</h1>

    <p class = "content__text">This is an Unreal Engine 5 project to learn more about materials and experiment with rendering techniques. You can find all the materials in the same Github repository.</p>
    <a class = "content__link" target="_blank" href="https://github.com/magalenyo/ShadersUE5">Unreal Engine Materials Github repository</a>
</div>

<router-outlet></router-outlet>
