<div class = "content__section">
    <h1 class = "content__title content__title__glitch" data-text="Boundead">Boundead</h1>
    <div class = "content__wrapper">
        <p class = "content__text">As a final project of the Computer Engineering degree, my friend Narcís Bustins Núñez and I made a 2.5D adventure/platform videogame in Unity. We worked for 6 months, spending all available hours on the project, and we are really proud and satisfied with the final result.</p>
        <p class = "content__text">The game is composed by two levels, one that acted as an introduction and as a tutorial, and a final one with a final boss to conclude the game.</p>
        <p class = "content__text">We modeled some of the objects we used, like the main player or the following buddy, but we mostly used assets from the Unity Store or other websites.</p>
        <p class = "content__text">We programmed all the behaviors and systems of this game, that include: </p>
        <ul class = "content__list">
            <li>Player</li>
            <p>This system allows the control of the player in a 2.5D Space, with a horizontal and vertical movement.</p>
            <p>This includes all the main mechanics of movement: move, jump, crouch and dash.</p>
            <li>Combat System</li>
            <p>A system that would allow different entitites (player and enemies) to make, recieve damage and die.</p>
            <p>This system includes features to make damage with melee weapons, or throw damaging projectiles.</p>
            <li>Enemies</li>
            <ul>
                <li>Melee enemy: a humanoid that would follow the player and attack when is close to it.</li>
                <li>Ranged enemy: a humanoid that would follow the player and throw at it when in range of attack.</li>
                <li>Slime enemy: the fastest enemy that would follow the player and throw himself at it when in range.</li>
                <li>Final boss: a humanoid with different attacks and abilities. It has different phases based on how much health it has, making it harder on low hp.</li>
            </ul>
            <li>Experience System</li>
            <p>A full system that allowed the player to earn experience points when killing enemies, and then a system that would allow the player to spend these points on unlockable abilities and upgrading player stats like max HP, armor, etc.</p>
            <li>Other</li>
            <p>And many others like <b>Animations</b>, <b>Traps</b>, <b>Consumables</b>, <b>Maskarea System</b> (the entity that follows the player), etc. Find more information in the documentation!</p>
        </ul>

        <div class = "content__carousel">
            <app-carousel-boundead></app-carousel-boundead>
        </div>

        <p class = "content__text">If you wanna play it yourself, <b>you can download the game clicking <a target="_blank" href="https://drive.google.com/file/d/1sUCAhD_6wuYjUpBIHrZGFuriDXJ2NQUn/view">here</a>.</b></p>
        <p class = "content__text">Or if you are interested in <b>documentation (263 pages long and in Catalan), Unity Project or Code you can access <a target="_blank" href = "https://drive.google.com/drive/folders/1QNWSwwthEgOeo9RyIHBumBHh4TkzlaZw?usp=sharing">here</a>.</b></p>
        <p class = "content__text">To see more videos, you can check our playlist <a target="_blank" href = "https://youtube.com/playlist?list=PLqL7Y-7Sr4iVxBafXM63IY3DBSXzyIoYY">here</a>.</p>

        <div class="videoWrapper">
            <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/XNsSLHtClBM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
