<div class = "content__section">
    <h1 class = "content__title content__title__glitch" data-text="Screen / TV">Screen / TV</h1>
    <div class = "content__wrapper">
        <p class = "content__text">This material is based on regular TV screens and is also based on the screens that appear on Valorant's "Split" map.</p>
        <p class = "content__text">The Valorant screen is as follows:</p>
        <img src = "assets/images/ue-materials/screen/valorant_screen.png">

        <p class = "content__text">The implemented material:</p>
        <video class = "material__video" src = "assets/images/ue-materials/screen/video.mp4" playsinline autoplay muted="true" defaultMuted loop></video>       
        <p class = "content__text">This is the material shader:</p>
        <img src = "assets/images/ue-materials/screen/shader.png">
    </div>
</div>
