<div class = "body__separator"></div>

<div class = "content__body">
    <div class = "content__section">
        <h1 class = "content__title content__title__glitch" data-text="About me">About me</h1>

        <div class = "content__bio__wrapper">
            <div class ="bio__image__wrapper">
                <img src = "assets/images/profile-picture.jpg" class = "profilePicture">
                <div class = "bioGrid">
                    <p><fa-icon [icon]="faMap" [fixedWidth]="true"></fa-icon> </p> <p>Barcelona, Spain</p>
                    <p><fa-icon [icon]="faMail" [fixedWidth]="true"></fa-icon> </p> <p><a href = "mailto: magalenyo7@gmail.com">magalenyo7@gmail.com</a></p>
                    <p><fa-icon [icon]="faPhone" [fixedWidth]="true"></fa-icon> </p> <p><a href = "tel:+34671116223">+34 671 11 62 23</a></p>
                </div>
            </div>

            <div class ="bio__text__wrapper">
                <p class = "content__text">I'm Miguel, a 25 years old Computers Engineer, specialized in Software Development. My passion for video games made me graduate in <i>Master's Degree in Advanced Programming for AAA Video Games</i> at UPC.</p>
                <p class = "content__text">As a Full Stack Analyst, I'm lucky to be working with a great team of developers at NTT Data, with broad knowledge in different insurance customers.</p>
                <p class = "content__text" style = "display: inline; margin-right: 6px">My curiosity and interest for different technologies and topics, have made me a very versatile and proactive</p> <p class = "content__text content__text__glitch" style ="display: inline-block" data-text="person."> programmer. </p> 
                <p class = "content__text">From Full Stack Development, 3D Rendering and modelling, Video games development, APP development, and even cooking?</p>
            
                <a class = "content__button content__button__glitch" data-text="Download CV" href="assets/pdf/CV_2021_MiguelAngelBuenoRivera.pdf" download>Download CV</a>
            </div>
        </div>
    </div>

    <div class = "content__section">
        <h1 class = "content__title content__title__glitch" data-text="Education">Education</h1>
        <p class = "content__text">I'm Miguel, a 25 years old Full Stack Developer at NTT Data. I'm a passionate progammer graduated in Computers Engineer and Master's Degree in Advanced Progamming for AAA Video Games.</p>
    </div>

    <div class = "content__section">
        <h1 class = "content__title content__title__glitch" data-text="Boundead">Boundead</h1>
        <p class = "content__text">As a final project of the Computers Engineering degree, my friend Narcís Bustins Núñez and I made a 2.5D adventure/platform videogame in Unity. For 6 months, we spent every single available hour of our days to this project, ending really proud and satisfied with the final result.</p>

        <div class="videoWrapper">
            <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/XNsSLHtClBM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p class = "content__text">If you wanna play it yourself, <b>you can download the game clicking <a href="https://drive.google.com/file/d/1sUCAhD_6wuYjUpBIHrZGFuriDXJ2NQUn/view">here</a>.</b></p>
        <p class = "content__text">Or if you are interested in <b>documentation (263 pages long and in Catalan), Unity Project or Code you can access <a href = "https://drive.google.com/drive/folders/1QNWSwwthEgOeo9RyIHBumBHh4TkzlaZw?usp=sharing">here</a>.</b></p>
        <p class = "content__text">To see more videos, you can check our playlist <a href = "https://youtube.com/playlist?list=PLqL7Y-7Sr4iVxBafXM63IY3DBSXzyIoYY">here</a>.</p>

        <div class = "content__carousel">
            <app-carousel-boundead></app-carousel-boundead>
        </div>

    </div>
</div>