<div class = "body__separator"></div>

<div class = "content__body">
    <div class = "content__section">
        <h1 class = "content__title content__title__glitch" data-text="About me">About me</h1>
        <p class = "content__text">I'm Miguel, a 25 years old Full Stack Developer at NTT Data. I'm a passionate progammer graduated in Computers Engineer and Master's Degree in Advanced Progamming for AAA Video Games.</p>

        <div class = "section__wrapper">
            <div class ="bio__image__wrapper">
                <div class = "bioGrid">
                    <p><fa-icon [icon]="faCalendar" [fixedWidth]="true"></fa-icon> Age</p> <p>24</p>
                    <p><fa-icon [icon]="faMap" [fixedWidth]="true"></fa-icon> Location</p> <p>Barcelona, Spain</p>
                    <p><fa-icon [icon]="faMail" [fixedWidth]="true"></fa-icon> Email</p> <p><a href = "mailto: magalenyo7@gmail.com">magalenyo7@gmail.com</a></p>
                    <p><fa-icon [icon]="faPhone" [fixedWidth]="true"></fa-icon> Phone</p> <p><a href = "tel:+34671116223">+34 671 11 62 23</a></p>
                </div>
                <img src = "assets/images/profile-picture.jpg" class = "profilePicture">

            </div>
            
            <a id = "cvDownloadButton" href="assets/pdf/CV_2021_MiguelAngelBuenoRivera.pdf" download>Download CV</a>
        </div>


    </div>
</div>