.body__separator{
    height: 2px;
    width: 45%;
    background-color: #343434;
    margin: auto;
    margin-top: 24px;
    border-radius: 10px;
}

.content__body {
    width: 80%;
    margin: 64px auto;
    display: flex;
    flex-direction: column;
    color: var(--primary-white);
}

.content__section {
    margin: 24px 0 12px 0;
}

$secondaryColor: #0c0c0e;
$steps: 20;
$starting-steps: 8;

.content__title {
    text-align: left;
    position: relative;
    margin: 0 auto;
    color: var(--primary-white);
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 16px;
}

.content__title__glitch {

    letter-spacing: 0.01em;
    transform: scale3d(1,1,1);

    &::before,
    &::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        background: $secondaryColor;
        color: var(--primary-white);
        clip: rect(0, 900px, 0, 0);
    }

    &::before {
        left: 7px;
        text-shadow: 1px 0 green;
        animation: glitch-effect 8s infinite linear alternate-reverse;
    }

    &::after {
        left: 3px;
        text-shadow: -1px 0 red;
        animation: glitch-effect 6s infinite linear alternate-reverse;
    }
}
 
@keyframes glitch-effect{
    @for $i from 0 through $starting-steps{
        #{percentage($i*(1/$steps))}{
            clip: rect(0, 900px, 0, 0);
        }
    }  

    @for $i from $starting-steps through $steps{
        #{percentage($i*(1/$steps))}{
            clip:rect(random(100)+px,9999px,random(100)+px,0);
        }
    }   
}

.content__text{

}

.profilePicture{
    height: 240px;
    margin: auto;
    display: block;
    -webkit-clip-path: circle(90px at center);
    clip-path: circle(90px at center);
}

.bio__image__wrapper{
    display: flex;
    flex-direction: row;
}

.bioGrid{
    display: grid;
    grid-template-columns: 35% 65%;
    margin: 0 auto;
    text-align: left;
}