<div style="display:none" class = "body__separator"></div>

<div id = "content" class = "content__body">

    <!-- ABOUT ME -->
    <div class = "content__section">
        <h1 class = "content__title content__title__glitch" data-text="About me">About me</h1>

        <div class = "content__bio__wrapper">
            <div class ="bio__image__wrapper">
                <img src = "assets/images/profile-picture.jpg" class = "profilePicture">
                <div class = "bioGrid">
                    <p><fa-icon [icon]="faMap" [fixedWidth]="true"></fa-icon> </p> <p>Barcelona, Spain</p>
                    <p><fa-icon [icon]="faMail" [fixedWidth]="true"></fa-icon> </p> <p><a href = "mailto: magalenyo7@gmail.com">magalenyo7@gmail.com</a></p>
                    <p><fa-icon [icon]="faPhone" [fixedWidth]="true"></fa-icon> </p> <p><a href = "tel:+34671116223">+34 671 11 62 23</a></p>
                </div>
            </div>

            <div class ="bio__text__wrapper">
                <p class = "content__text">Hello! I'm Miguel, a 25 years old Computers Engineer, specialized in Software Development. My passion for video games made me graduate in <i>Master's Degree in Advanced Programming for AAA Video Games</i> at UPC.</p>
                <p class = "content__text">As a Full Stack Analyst, I have 3 years of professional experience in web development in Angular and Java Springboot for different insurance companies.</p>
                <p class = "content__text" style = "display: inline; margin-right: 6px">My curiosity and interest for different technologies and topics, have made me a very versatile and proactive</p> <p class = "content__text content__text__glitch" style ="display: inline-block" data-text="person."> programmer. </p> 
                <p class = "content__text">From Full Stack Development, 3D Rendering and modelling, Video games development, APP development, and even cooking?</p>
            
                <a class = "content__button content__button__glitch" data-text="Download CV" href="assets/pdf/CV_2022_MiguelAngelBuenoRivera.pdf" download>Download CV</a>
            </div>
        </div>
    </div>

    <!-- EDUCATION -->
    <div class = "content__section">
        <h1 class = "content__title content__title__glitch" data-text="Education">Education</h1>
        <div class = "content__wrapper">
            <p class = "content__text">I have always been interested in computers, specially videogames and hardware, and the reason I got into the degree was to end up being a video games programmer, but ended up loving any kind of software development.</p>
            <p class = "content__text">I had never programmed before, I actually didn't even know what programming was until I got in the degree, and absolutely loved it!</p>
            <div class = "stepper__wrapper">
                <app-stepper-education></app-stepper-education>
            </div>
        </div>
    </div>

    <!-- EXPERIENCE -->
    <div class = "content__section">
        <h1 class = "content__title content__title__glitch" data-text="Experience">Experience</h1>
        <div class = "content__wrapper">
            <p class = "content__text">From restaurants to clothing companies, I have always been working to afford my education and needs. It wasn't until I graduated from Computer Engineering that I started my professional career in the IT sector.</p>
            <div class = "stepper__wrapper">
                <app-stepper-experience></app-stepper-experience>
            </div>
        </div>
    </div>

    <!-- PROJECTS -->
    <div class = "content__section">
        <h1 class = "content__title content__title__glitch" data-text="Projects">Projects</h1>
        <div class="cardview__list">
            <app-cardview [model]="cardviewBoundeadModel"></app-cardview>
            <app-cardview [model]="cardviewRealDisunityModel"></app-cardview>
            <app-cardview [model]="cardviewTesseractModel"></app-cardview>
            <app-cardview [model]="cardviewShutdownModel"></app-cardview>
            <!-- <app-cardview [model]="cardviewUEMaterialsModel"></app-cardview> -->
            <app-cardview [model]="cardviewNodeExpressApiModel"></app-cardview>
        </div>
    </div>

    <!-- UNREAL ENGINE MATERIALS -->
    <div class = "content__section">
        <h1 class = "content__title content__title__glitch" data-text="Unreal Engine Materials">Unreal Engine Materials</h1>
        <div class="cardview__list">
            <app-cardview [model]="cardviewUEVolumetricIceModel"></app-cardview>
            <app-cardview [model]="cardviewUEGlitterBallModel"></app-cardview>
            <app-cardview [model]="cardviewUEMagicSphereModel"></app-cardview>
            <app-cardview [model]="cardviewUESlimeModel"></app-cardview>
            <app-cardview [model]="cardviewUEGlassModel"></app-cardview>
            <app-cardview [model]="cardviewUEBubbleModel"></app-cardview>
            <app-cardview [model]="cardviewUESunModel"></app-cardview>
            <app-cardview [model]="cardviewUEScreenModel"></app-cardview>
        </div>
    </div>

    
</div>