<div id="carousel-modal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
</div>


<mdb-carousel [controls]="true" [indicators]="true" [animation]="'slide'" class="carousel--generic">
    <mdb-carousel-item [interval]="defaultDelay">
        <img src="assets/images/carousel-boundead/1.png" class="d-block w-100 slider__img" alt="Sunset Over the City" />
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </mdb-carousel-item>

    <mdb-carousel-item [interval]="defaultDelay">
        <img src="assets/images/carousel-boundead/2.png" class="d-block w-100 slider__img" alt="Sunset Over the City" />
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </mdb-carousel-item>

    <mdb-carousel-item [interval]="defaultDelay">
        <img src="assets/images/carousel-boundead/3.png" class="d-block w-100 slider__img" alt="Sunset Over the City" />
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </mdb-carousel-item>

    <mdb-carousel-item [interval]="defaultDelay">
        <img src="assets/images/carousel-boundead/4.png" class="d-block w-100 slider__img" alt="Sunset Over the City" />
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </mdb-carousel-item>

    <mdb-carousel-item [interval]="defaultDelay">
        <img src="assets/images/carousel-boundead/5.png" class="d-block w-100 slider__img" alt="Sunset Over the City" />
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </mdb-carousel-item>

    <mdb-carousel-item [interval]="defaultDelay">
        <img src="assets/images/carousel-boundead/6.png" class="d-block w-100 slider__img" alt="Sunset Over the City" />
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </mdb-carousel-item>

    <mdb-carousel-item [interval]="defaultDelay">
        <img src="assets/images/carousel-boundead/7.png" class="d-block w-100 slider__img" alt="Sunset Over the City" />
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </mdb-carousel-item>

    <mdb-carousel-item [interval]="defaultDelay">
        <img src="assets/images/carousel-boundead/8.png" class="d-block w-100 slider__img" alt="Sunset Over the City" />
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </mdb-carousel-item>

    <mdb-carousel-item [interval]="defaultDelay">
        <img src="assets/images/carousel-boundead/9.png" class="d-block w-100 slider__img" alt="Sunset Over the City" />
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </mdb-carousel-item>

    <mdb-carousel-item [interval]="defaultDelay">
        <img src="assets/images/carousel-boundead/10.png" class="d-block w-100 slider__img" alt="Sunset Over the City" />
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </mdb-carousel-item>

    <mdb-carousel-item [interval]="defaultDelay">
        <img src="assets/images/carousel-boundead/11.png" class="d-block w-100 slider__img" alt="Sunset Over the City" />
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </mdb-carousel-item>

    <mdb-carousel-item [interval]="defaultDelay">
        <img src="assets/images/carousel-boundead/12.png" class="d-block w-100 slider__img" alt="Sunset Over the City" />
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </mdb-carousel-item>

    <mdb-carousel-item [interval]="defaultDelay">
        <img src="assets/images/carousel-boundead/13.png" class="d-block w-100 slider__img" alt="Sunset Over the City" />
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </mdb-carousel-item>

    <mdb-carousel-item [interval]="defaultDelay">
        <img src="assets/images/carousel-boundead/14.png" class="d-block w-100 slider__img" alt="Sunset Over the City" />
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </mdb-carousel-item>

</mdb-carousel>

