.slider__img{
  transition-duration: 0.3s;

}

.slider__img:hover {
  cursor: pointer;
  filter: opacity(70%);
  cursor: zoom-in;
}

.carousel-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 200;
}

.carousel-modal-content {
  margin: auto;
  display: block;
  width: 80%;
  cursor: zoom-in;
  transition: transform 0.3s;
}

.zoomed__in {
  transform: scale(1.3);
  cursor: zoom-out;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.carousel-modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.carousel-modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.carousel-modal-close:hover,
.carousel-modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
