<div class = "content__section">
    <h1 class = "content__title content__title__glitch" data-text="Sun/Meteorite">Sun/Meteorite</h1>
    <div class = "content__wrapper">
        <p class = "content__text">This material was meant to work as a meteorite with a burning core, but ended up being a sun.</p>
        <p class = "content__text">The default material has this look:</p>
        <video class = "material__video" src = "assets/images/ue-materials/sun/video.mp4" playsinline autoplay muted="true" defaultMuted loop></video>       
        <p class = "content__text">And in a material instance, tweaking some values, it ended up being a sun:</p>
        <video class = "material__video" src = "assets/images/ue-materials/sun/video2.mp4" playsinline autoplay muted="true" defaultMuted loop></video>       
        <p class = "content__text">This is the material shader:</p>
        <img src = "assets/images/ue-materials/sun/shader.png">
    </div>
</div>
