<div class = "content__section">
    <h1 class = "content__title content__title__glitch" data-text="Magic">Magic</h1>
    <div class = "content__wrapper">
        <p class = "content__text">This material make spheres have a magical touch to them.</p>
        <p class = "content__text">The default material has this look:</p>
        <video class = "material__video" src = "assets/images/ue-materials/magic/video.mp4" playsinline autoplay muted="true" defaultMuted loop></video>       
        <p class = "content__text">A different material instance</p>
        <video class = "material__video" src = "assets/images/ue-materials/magic/video2.mp4" playsinline autoplay muted="true" defaultMuted loop></video>       
        <p class = "content__text">This is the material shader:</p>
        <img src = "assets/images/ue-materials/magic/shader_1.png">
        <p class = "content__text">The Alpha value of the Lerp:</p>
        <img src = "assets/images/ue-materials/magic/shader_2.png">
    </div>
</div>
