<div class = "content__section">
    <h1 class = "content__title content__title__glitch" data-text="Other Unreal Engine Projects">Other Unreal Engine Projects</h1>
    <div class = "content__wrapper">
        <p class = "content__text">Here are some dummy projects to learn Unreal Engine 5 C++ and Blueprints. I'm also cooking some stuff that will be revealed soon :P.</p>
        <p class = "content__text">Visual assets like models, textures, animations, etc. are free to use assets from the Unreal Engine Asset Store or online sites.</p>   
        
        <div class = "content__section--mini">
            <h2>Simple Thid Person Shooter</h2>
            <p class = "content__text">Made entirely with C++. </p>
            <p class = "content__text">AI is controlled with Behavior Trees and custom tasks. 
                AI will follow and engage into combat when it detects the player. If it loses sight of the player, it will move to the player's last known position. Upon reaching player's last known position and after a brief time, it returns to its original position.</p>            
            <div class="videoWrapper">
                <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/sLYlTkkzyTo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <a class = "content__link" target="_blank" href="https://github.com/magalenyo/UE5-SimpleShooter">Simple Shooter Github Repository</a>
        </div>

        <div class = "content__section--mini">
            <h2>Toon Tanks</h2>
            <p class = "content__text">Tank shooter project using C++.</p>
            <div class="videoWrapper">
                <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/qrq0f1ArVJg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <a class = "content__link" target="_blank" href="https://github.com/magalenyo/UE5-ToonTanks">Toon Tanks Github Repository</a>
        </div>
    
        <div class = "content__section--mini">
            <h2>Crypt Raider</h2>
            <p class = "content__text">Project to play with physics interactions in C++.</p>
            <div class="videoWrapper">
                <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/Fydhxdn3Xjg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <a class = "content__link" target="_blank" href="https://github.com/magalenyo/UE5-CryptRaider">Crypt Raider Github Repository</a>
        </div>
        
        <div class = "content__section--mini">
            <h2>Warehouse Wreckage</h2>
            <p class = "content__text">Project to play around with Physics and basic spawning.</p>
            <div class="videoWrapper">
                <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/sc2W2DIb_rI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <a class = "content__link" target="_blank" href="https://github.com/magalenyo/WarehouseWreckage">Warehouse Wreckage Github Repository</a>
        </div>

        <div class = "content__section--mini">
            <h2>Obstacle Assault</h2>
            <p class = "content__text">Project to play around with blueprints and C++.</p>
            <div class="videoWrapper">
                <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/RbP3j0Z2A5E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <a class = "content__link" target="_blank" href="https://github.com/magalenyo/ObstacleAssault">Obstacle Assault Github Repository</a>
        </div>

        <div class = "content__section--mini">
            <h2>Old Parkour / Telekinesis project playlist </h2>
            <p class = "content__text">Project to play with Parkour and Telekinesis mechanics and dynamics.</p>
            <div class="videoWrapper">
                <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/yCSJiva1s88" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <a class = "content__link" target="_blank" href="https://www.youtube.com/watch?v=yCSJiva1s88&list=PLsPJr2L5jJ4IgfyP9j8CkkOF5QhUYIG2c&index=8">Youtube Playlist</a>
        </div>
    </div>
</div>
