:root{
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}

:host{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(33% - 40px);
    margin: 20px;
}

.cardview{
    width: 200px;
    height: 400px;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%), 0 16px 16px rgb(0 0 0 / 10%);
    background-size: cover;
    background-position: center;
    cursor: pointer;

    &:hover {

        .cardview__content{
            bottom: 50%;
            top: 50%;
            margin: auto;
            justify-content: center;
        }
        
    }
}

.cardview__media{
    height: 100%;
    width: 100%;
    margin: auto;
    object-fit: cover;
}

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }

.cardview::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.cardview::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.cardview__content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 8px 28px;
    z-index: 1;
    bottom: 0;
    transition: bottom .3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.cardview__title{
    transition-duration: .4s;
}

.cardview__description{

}

.cardview--material::before,
.cardview--material::after{
    display: none;
}

.cardview--material .cardview__content{
    padding: 0;
}

.cardview--material .cardview__title,
.cardview--material .cardview__description{
    margin: 0;
    padding: 8px 8px;
    background-color: #0000007a;
    width: 100%;
}

.cardview--material:hover .cardview__title{
    padding-top: 20px;
    padding-bottom: 20px;
}


/*************************************************************************************/
/************************************MEDIA QUERIES************************************/
/*************************************************************************************/

$breakpoint-laptop: 1376px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 452px;

@media screen and (max-width: $breakpoint-laptop) {

    :host{
        flex: 1 0 calc(50% - 40px);
        margin: 20px;

        &:nth-child(odd){
            margin-left: 0;
        }

        &:nth-child(even){
            margin-right: 0;
        }

        &:nth-child(odd):last-child{
            margin-left: 0;
        }
    }

    :host:nth-child(odd):last-child{
        margin-left: 0;
        margin-right: 0;
    }

}

@media screen and (max-width: $breakpoint-tablet) {

    :host{
        flex: 1 0 calc(100% - 40px);
        margin-left: 0;
        margin-right: 0;
    }
  
}


@media screen and (max-width: $breakpoint-phone) {

  

}
