<div class = "content__section">
    <h1 class = "content__title content__title__glitch" data-text="Glass">Glass</h1>
    <div class = "content__wrapper">
        <p class = "content__text">This material acts as a glass applying the Index of Refraction of the glass on the Refraction.</p>
        <video class = "material__video" src = "assets/images/ue-materials/glass/video.mp4" playsinline autoplay muted="true" defaultMuted loop></video>       
        <p class = "content__text">This is the material shader:</p>
        <img src = "assets/images/ue-materials/glass/shader_1.png">
    </div>
</div>
