<div id = "content">
  <app-header></app-header>
  <div class = "mainContainer">
      <div id = "whoami" class = "section__item" >
          <div class = "section__wrapper">
            <img src = "assets/images/profile-picture.jpg" class = "profilePicture">
            <h1>Miguel Ángel Bueno Rivera</h1>
            <h6>Full Stack Developer, Engine & Gameplay Programmer</h6>
            <hr>
            <p>Full Stack Developer at Everis, graduated in Computers Engineer and Master's Degree in Advanced Progamming for AAA Video Games student.</p>
            <div class = "bioWrapper">
              <div class = "bio">
                <p><fa-icon [icon]="faCalendar" [fixedWidth]="true"></fa-icon> Age</p> <p>24</p>
                <p><fa-icon [icon]="faMap" [fixedWidth]="true"></fa-icon> Location</p> <p>Barcelona, Spain</p>
                <p><fa-icon [icon]="faMail" [fixedWidth]="true"></fa-icon> Email</p> <p><a href = "mailto: magalenyo7@gmail.com">magalenyo7@gmail.com</a></p>
                <p><fa-icon [icon]="faPhone" [fixedWidth]="true"></fa-icon> Phone</p> <p><a href = "tel:+34671116223">+34 671 11 62 23</a></p>
              </div>
            </div>
            <a id = "cvDownloadButton" href="assets/pdf/CV_2021_MiguelAngelBuenoRivera.pdf" download>Download CV</a>
          </div>
      </div>

      <div id ="education" class = "section__item">
          <h1>Education</h1>
          <div class = "education__block">
            <p>Master's degree in Advanced Programming for AAA Video Games, Universitat Politècnica de Catalunya, Barcelona</p><p>2020 - 2021</p>
          </div>
          <p>In the Master's degree we learned how to build a 3D Game Engine from scratch in C++, OpenGL and GLSL. The Game Engine we created included model import, Scene managements, Together with the students of the Master's degree in Art for AAA Video Games, we organized ourselves as a real company and built our own Engine and Videogame as a final project.</p>

          <div class = "education__block">
            <p>Computers Engineering, Universitat de Girona, Girona</p><p>2014 - 2019</p>
          </div>
          <p>I studied Computer Engineering at Universitat de Girona and graduated in 2019.</p>
      </div>

      <div id = "myinterests" class = "section__item">
          <h1>My interests</h1>
      </div>

      <div id = "fun" class = "section__item">
          <h1>For fun</h1>
      </div>

      <div id = "portfolio" class = "section__item">
          <h1>Boundead</h1>
          <p>My friend Narcís Bustins Núñez and I made a 2.5D adventure/platform videogame made in Unity as our degree's final project. We spent 6 months developing our project and spending every single hour of the day.</p>
          <p>Take a look at the next video!</p>
          <div class="videoWrapper">
              <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/XNsSLHtClBM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

          <p><b>You can download the game clicking <a href="https://drive.google.com/file/d/1sUCAhD_6wuYjUpBIHrZGFuriDXJ2NQUn/view">here</a>.</b></p>
          <p><b>If you are interested in the <i>Documentation</i>, <i>Unity Project</i> or <i>Code</i> you can access <a href = "https://drive.google.com/drive/folders/1QNWSwwthEgOeo9RyIHBumBHh4TkzlaZw?usp=sharing">here</a>.</b></p>
          <p>If you want to see more videos, you can check our playlist <a href = "https://youtube.com/playlist?list=PLqL7Y-7Sr4iVxBafXM63IY3DBSXzyIoYY">here</a>.</p>
      </div>
  </div>
</div>
