<!-- <div id = "content">
  <app-header></app-header>
  <div class = "mainContainer">
      <div id = "whoami" class = "section__item" >
          <div class = "section__wrapper">
            <img src = "assets/images/profile-picture.jpg" class = "profilePicture">
            <h1>Miguel Ángel Bueno Rivera</h1>
            <h6>Full Stack Developer, Engine & Gameplay Programmer</h6>
            <hr>
            <p>Full Stack Developer at Everis, graduated in Computers Engineer and Master's Degree in Advanced Progamming for AAA Video Games student.</p>
            <div class = "bioWrapper">
              <div class = "bio">
                <p><fa-icon [icon]="faCalendar" [fixedWidth]="true"></fa-icon> Age</p> <p>24</p>
                <p><fa-icon [icon]="faMap" [fixedWidth]="true"></fa-icon> Location</p> <p>Barcelona, Spain</p>
                <p><fa-icon [icon]="faMail" [fixedWidth]="true"></fa-icon> Email</p> <p><a href = "mailto: magalenyo7@gmail.com">magalenyo7@gmail.com</a></p>
                <p><fa-icon [icon]="faPhone" [fixedWidth]="true"></fa-icon> Phone</p> <p><a href = "tel:+34671116223">+34 671 11 62 23</a></p>
              </div>
            </div>
            <a id = "cvDownloadButton" href="assets/pdf/CV_2021_MiguelAngelBuenoRivera.pdf" download>Download CV</a>
          </div>
      </div>

      <div id ="education" class = "section__item">
          <h1>Education</h1>
          <div class = "education__block">
            <p>Master's degree in Advanced Programming for AAA Video Games, Universitat Politècnica de Catalunya, Barcelona</p><p>2020 - 2021</p>
          </div>
          <p>In the Master's degree we learned how to build a 3D Game Engine from scratch in C++, OpenGL and GLSL. The Game Engine we created included model import, Scene management, 3D and 2D Rendering and many more!</p>
          <p>Together with the students of the Master's degree in Art for AAA Video Games, we organized ourselves as a real company and built our own Engine and Videogame as a final project.</p>
                   
          <div class = "education__block">
            <p>Computers Engineering, Universitat de Girona, Girona</p><p>2014 - 2019</p>
          </div>
          <p>I studied Computer Engineering at Universitat de Girona and graduated in 2019.</p>
      </div>

      <div id = "myinterests" class = "section__item">
          <h1>My interests</h1>
      </div>

      <div id = "fun" class = "section__item">
          <h1>For fun</h1>
      </div>

      <div id = "portfolio" class = "section__item">
          <h1>Boundead</h1>
          <p>My friend Narcís Bustins Núñez and I made a 2.5D adventure/platform videogame made in Unity as our degree's final project. We spent 6 months developing our project and spending every single hour of the day.</p>
          <p>Take a look at the next video!</p>
          <div class="videoWrapper">
              <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/XNsSLHtClBM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

          <p><b>You can download the game clicking <a href="https://drive.google.com/file/d/1sUCAhD_6wuYjUpBIHrZGFuriDXJ2NQUn/view">here</a>.</b></p>
          <p><b>If you are interested in the <i>Documentation</i>, <i>Unity Project</i> or <i>Code</i> you can access <a href = "https://drive.google.com/drive/folders/1QNWSwwthEgOeo9RyIHBumBHh4TkzlaZw?usp=sharing">here</a>.</b></p>
          <p>If you want to see more videos, you can check our playlist <a href = "https://youtube.com/playlist?list=PLqL7Y-7Sr4iVxBafXM63IY3DBSXzyIoYY">here</a>.</p>


          <mdb-carousel [controls]="true" [indicators]="true" [animation]="'slide'" class = "carousel--generic">
            <mdb-carousel-item [interval]="10000">
              <img
                src="assets/images/carousel-boundead/1.png"
                class="d-block w-100"
                alt="Sunset Over the City"
                
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </mdb-carousel-item>

            <mdb-carousel-item [interval]="10000"
            >
              <img
                src="assets/images/carousel-boundead/2.png"
                class="d-block w-100"
                alt="Sunset Over the City"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </mdb-carousel-item>

            <mdb-carousel-item>
              <img
                src="assets/images/carousel-boundead/3.png"
                class="d-block w-100"
                alt="Sunset Over the City"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </mdb-carousel-item>

            <mdb-carousel-item>
              <img
                src="assets/images/carousel-boundead/4.png"
                class="d-block w-100"
                alt="Sunset Over the City"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </mdb-carousel-item>

            <mdb-carousel-item>
              <img
                src="assets/images/carousel-boundead/5.png"
                class="d-block w-100"
                alt="Sunset Over the City"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </mdb-carousel-item>

            <mdb-carousel-item>
              <img
                src="assets/images/carousel-boundead/6.png"
                class="d-block w-100"
                alt="Sunset Over the City"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </mdb-carousel-item>

            <mdb-carousel-item>
              <img
                src="assets/images/carousel-boundead/7.png"
                class="d-block w-100"
                alt="Sunset Over the City"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </mdb-carousel-item>

            <mdb-carousel-item>
              <img
                src="assets/images/carousel-boundead/8.png"
                class="d-block w-100"
                alt="Sunset Over the City"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </mdb-carousel-item>

            <mdb-carousel-item>
              <img
                src="assets/images/carousel-boundead/9.png"
                class="d-block w-100"
                alt="Sunset Over the City"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </mdb-carousel-item>

            <mdb-carousel-item>
              <img
                src="assets/images/carousel-boundead/10.png"
                class="d-block w-100"
                alt="Sunset Over the City"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </mdb-carousel-item>

            <mdb-carousel-item>
              <img
                src="assets/images/carousel-boundead/11.png"
                class="d-block w-100"
                alt="Sunset Over the City"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </mdb-carousel-item>

            <mdb-carousel-item>
              <img
                src="assets/images/carousel-boundead/12.png"
                class="d-block w-100"
                alt="Sunset Over the City"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </mdb-carousel-item>

            <mdb-carousel-item>
              <img
                src="assets/images/carousel-boundead/13.png"
                class="d-block w-100"
                alt="Sunset Over the City"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </mdb-carousel-item>

            <mdb-carousel-item>
              <img
                src="assets/images/carousel-boundead/14.png"
                class="d-block w-100"
                alt="Sunset Over the City"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </mdb-carousel-item>
          
          </mdb-carousel>

      </div>
  </div>
</div> -->
<div class="presentation__wrapper">
  <div class="presentation">
    <span class="">Full Stack Developer</span>
    <div class="stack" style="--stacks: 3;">
      <span style="--index: 0;">Miguel Ángel Bueno Rivera</span>
      <span style="--index: 1;">Miguel Ángel Bueno Rivera</span>
      <span style="--index: 2;">Miguel Ángel Bueno Rivera</span>
    </div>
    <span class="right">Game Engine & Gameplay Developer</span>
  </div>

  <div class = "links__wrapper">
    <div class = "links">
        <a  class = "glitchLink"href="https://www.linkedin.com/in/miguel-%C3%A1ngel-bueno-rivera/">
            <svg  id="footerLinkedIn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
        </a>

        <a href ="https://github.com/magalenyo">
            <svg id = "footerGithub" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
        </a>

        <a href="mailto:magalenyo7@gmail.com">
            <svg  id="footerMail" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 12.713l-11.985-9.713h23.971l-11.986 9.713zm-5.425-1.822l-6.575-5.329v12.501l6.575-7.172zm10.85 0l6.575 7.172v-12.501l-6.575 5.329zm-1.557 1.261l-3.868 3.135-3.868-3.135-8.11 8.848h23.956l-8.11-8.848z"/></svg>
        </a>
    </div>
</div>

</div>

<div>
  <p> que dise</p>
</div>