<app-header></app-header>
<div class = "mainContainer">
    <div id = "whoami" class = "section__item" >
        <h1>Who am I?</h1>
        <p>My name is Miguel Ángel Bueno Rivera and I'm a 23 years old computers engineer.</p>
        <img src = "../assets/images/profile-picture.jpg" class = "profilePicture">
    </div>

    <div id ="formation" class = "section__item">
        <h1>Formation</h1>
        <p>I studied Computers Engineering at Universitat de Girona in the beautiful city of Girona.</p>
        <p>Also I am starting a master's degree in Advanced Programming for AAA Video Games at UPC, Barcelona.</p>
    </div>
     
    <div id = "myinterests" class = "section__item">
        <h1>My interests</h1>
    </div>
    
    <div id = "fun" class = "section__item">
        <h1>For fun</h1>
    </div>

    <div id = "cv" class = "section__item">
        <h1>Curriculum</h1>
        <p>Click in the link below to Download my CV</p>
        <a id = "cvDownloadButton" href="../assets/pdf/EN CV Miguel 2020.pdf" download>Download</a>
    </div>

    <div id = "portfolio" class = "section__item">
        <h1>Portfolio</h1>
        <iframe src="https://open.spotify.com/embed/track/1ot6jEe4w4hYnsOPjd3xKQ" width="300" height="60" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>
<app-footer></app-footer>