<div class = "content__section">
    <h1 class = "content__title content__title__glitch" data-text="Shutdown">Shutdown</h1>
    <div class = "content__wrapper">
        <p class = "content__text">In the Master's degree, as part of our final project, with our <b>Tesseract Engine</b>, we created a top down action shooter video game called <b>Shutdown.</b></p>        

        <div class="videoWrapper">
            <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/hq4AP1z1QZ8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="videoWrapper">
            <iframe class = "youtubeVideo" src=" https://www.youtube.com/embed/qf6j_g3qYKc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <a class = "content__link" target="_blank" href="https://shutdown-github-io.vercel.app/">Shutdown Official website</a>

        <a class = "content__link" target="_blank" href="https://github.com/PenteractStudios/Penteract">Shutdown repository</a>

    </div>
</div>
