<div class="content__section">
    <h1 class="content__title content__title__glitch" data-text="Bullet Heaven Devlog">Bullet Heaven Devlog</h1>
    <div class="content__wrapper">
        <p class="content__text">This project is an action top down shooter in which the player will experience an intense bullet heaven gameplay. </p>
        <p class="content__text">Battle zombies and earn experience for each kill. The player will choose their rewards and tailor their abilities, making every run unique and strategic.</p>
        <p class="content__text">Future updates will introduce new characters with unique abilities and upgrades. Expect diverse enemies and maps for varied, strategic gameplay.</p>

        <a class="content__link" target="_blank" href="https://youtube.com/playlist?list=PLsPJr2L5jJ4I-f4oYgZDGTLnvKujeZJmC&si=Homx5cKNUhm0V4TX">Devlog Youtube Playlist</a>
        
        <div class="content__section--mini">
            <h3>Latest devlog: Auto targetting and Hit Flash Effect</h3>
            <div class="videoWrapper">
                <iframe class="youtubeVideo" src="https://www.youtube.com/embed/zbsXZeZ82Rk?si=uMr7RoKPEwlAW1W1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>