<div class = "content__section">
    <h1 class = "content__title content__title__glitch" data-text="Dragon">Dragon</h1>
    <div class = "content__wrapper">
        <p class = "content__text">This VFX is a series of materials applied to a mesh. It also contains several Niagar particle systems. It is also reactive to music.</p>
        <video class = "material__video" src = "assets/images/ue-materials/dragon/video.mp4" playsinline autoplay muted="true" defaultMuted loop></video>
    </div>
</div>
