<div class="steps">
    <div class="step minimized">
        <div class="step__header">
            <div class="step__header__title">2020 - 2021</div>
            <div class="step__header__subtitle">Master's Degree in Advanced Programming for AAA Video Games, Universitat Politècnica de Catalunya (UPC), Barcelona.</div>
        </div>
        <div class="step__content">
            <div class = "stepper__separator"></div>
            <p class = "stepper__text">In the Master's degree we learned how to build a 3D Game Engine from scratch in C++, OpenGL and GLSL. The Game Engine we created included model import, Scene management, 3D and 2D Rendering and many more!</p>
            <p class = "stepper__text">Together with the students of the Master's degree in Art for AAA Video Games, we organized ourselves as a real company and built our own Engine and Videogame as a final project.</p>
        </div>
    </div>
    <div class="step minimized">
        <div class="step__header">
            <div class="step__header__title">2014 - 2019</div>
            <div class="step__header__subtitle">Bachelor's Degree in Computer Engineering, Universitat de Girona(UDG), Girona.</div>
        </div>
        <div class="step__content">
            <div class = "stepper__separator"></div>
            <p class = "stepper__text">Specialized in Software Engineering, studying and applying software patterns.</p>
        </div>
    </div>
</div>