<div class = "content__section">
    <h1 class = "content__title content__title__glitch" data-text="Slime">Slime</h1>
    <div class = "content__wrapper">
        <p class = "content__text">This material makes meshes feel gooey and slimey.</p>
        <p class = "content__text">The default material has this look:</p>
        <video class = "material__video" src = "assets/images/ue-materials/slime/video.mp4" playsinline autoplay muted="true" defaultMuted loop></video>       
        <p class = "content__text">A different material instance:</p>
        <video class = "material__video" src = "assets/images/ue-materials/slime/video2.mp4" playsinline autoplay muted="true" defaultMuted loop></video>       
        <p class = "content__text">This is the material shader:</p>
        <img src = "assets/images/ue-materials/slime/shader_1.png">
        <p class = "content__text">The value of the "World position offset":</p>
        <img src = "assets/images/ue-materials/slime/shader_2.png">
    </div>
</div>
