<div class = "content__section">
    <h1 class = "content__title content__title__glitch" data-text="Volumetric Ice">Volumetric Ice</h1>
    <div class = "content__wrapper">
        <p class = "content__text">This material pretends to simulate the depth of an ice block.</p>
        
        <!-- <div class ="video__group"> -->
            <video class = "material__video" src = "assets/images/ue-materials/volumetric-ice/video.mp4" playsinline autoplay muted="true" defaultMuted loop></video>
            <video class = "material__video" src = "assets/images/ue-materials/volumetric-ice/video2.mp4" playsinline autoplay muted="true" defaultMuted loop></video>    
        <!-- </div> -->
       
        <img src = "assets/images/ue-materials/volumetric-ice/shader.png">
    </div>
</div>


