<div class = "content__section">
    <h1 class = "content__title content__title__glitch" data-text="Housemarque's Returnal in Unreal Engine 5">Housemarque's Returnal in Unreal Engine 5</h1>
    <div class = "content__wrapper">
        <p class = "content__text">This project is an attempt to recreate some of the bosses from <b>Returnal</b>, a third-person action shooter that was a PS5 launch exclusive developed by Housemarque.</p>
        <p class = "content__text">Since behavior trees have become the industry standard for AI behaviors, I will be implementing the enemies' AI with BTs instead of more traditional programming.</p>

        <a class = "content__link" target="_blank" href="https://github.com/magalenyo/UE5-BulletHell">Housemarque's Returnal Unreal Engine 5</a>

        
        <div class = "content__section--mini">
            <h2>Ixion (2nd boss)</h2>
            <p class = "content__text">This boss has different stages; it first starts grounded, but then immediately flies off into the sky, and the game loop starts.</p>
            <h3>Stage 1</h3>
            <p class = "content__text">In the first stage it will be able to perform the following actions:</p>
            <ul class = "content__list">
                <li>Fly to: flies to a target location above the ground.</li>
                <li>Exit attack (Basic Attack): perform a 360 degree burst of bullets that decelerate drastically using a curve.</li>
                <li>Machine gun attack (basic attack): shoots to a predicted position of where the player will go, with a certain spread behavior.</li>
                <li>Burst attack (Basic Attack): shoots towards the player in a cone.</li>
                <li>Vortex attack (Heavy Attack): it shoots a cone of bullets towards the player, making a beautiful pattern.</li>
            </ul>
            <p class = "content__text">The exit attack will always be performed before it moves to a different location.</p>

            <div class="videoWrapper">
                <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/y0GLFrA8OWM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <p class = "content__text">General Behavior Tree</p>
            <img src="assets/images/projects/returnal/bt_ixion_general.png">

            <p class = "content__text">Behavior Tree Stage 1</p>
            <img src="assets/images/projects/returnal/bt_ixion_phase_1.png">

            <h3>Stage 2 (Still WIP)</h3>
            <p class = "content__text">In this stage, Ixion will drop down to the floor, performing an animation, and fly off to the sky at high speed. Then he drops in the middle of the arena and emit a shockwave at ground level.</p>
            <p class = "content__text">After a short time, he will start emitting shockwaves that grow over time, followed by waves of bullets at a ground level, and emitting a burst of projectiles on the top of its head.</p>

            <p class = "content__text">Behavior Tree Stage 2</p>
            <img src="assets/images/projects/returnal/bt_ixion_phase_2.png">
        </div>

        <p class = "content__text">I also created a small material for the bullets, but I won't be using it in the mechanics videos for clarity reasons.</p>
        <video class = "material__video" src = "assets/images/projects/returnal/material.mp4" playsinline autoplay muted="true" defaultMuted loop></video>       
        
    </div>
</div>
