/* VARIABLES */
//@import "~/assets/scss/variables.scss";
@import "variables";

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

/* END VARIABLES */

/* START IMPORT FONTS */
@font-face {
    font-family: Simplifica;
    src: url("/assets/fonts/SIMPLIFICA Typeface.ttf") format("truetype");
}

@font-face {
    font-family: Hero-Bold;
    src: url("/assets/fonts/Hero/Hero-Bold.otf") format("opentype"),
         url("/assets/fonts/Hero/Hero-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Hero-Light;
    src: url("/assets/fonts/Hero/Hero-Light.otf") format("opentype"),
         url("/assets/fonts/Hero/Hero-Light.ttf") format("truetype");
}

@font-face {
    font-family: Hero-Regular;
    src: url("/assets/fonts/Hero/Hero-Regular.otf") format("opentype"),
         url("/assets/fonts/Hero/Hero-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Gidole;
    src: url("/assets/fonts/Gidole-Regular.otf") format("opentype");
}

@font-face {
    font-family: SourceSansPro-Black;
    src: url("/assets/fonts/Sans-Pro/SourceSansPro-Black.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro-BlackItalic;
    src: url("/assets/fonts/Sans-Pro/SourceSansPro-BlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro-Bold;
    src: url("/assets/fonts/Sans-Pro/SourceSansPro-Bold.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro-BoldItalic;
    src: url("/assets/fonts/Sans-Pro/SourceSansPro-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro-ExtraLight;
    src: url("/assets/fonts/Sans-Pro/SourceSansPro-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro-ExtraLightItalic;
    src: url("/assets/fonts/Sans-Pro/SourceSansPro-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro-Italic;
    src: url("/assets/fonts/Sans-Pro/SourceSansPro-Italic.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro-Light;
    src: url("/assets/fonts/Sans-Pro/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro-LightItalic;
    src: url("/assets/fonts/Sans-Pro/SourceSansPro-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url("/assets/fonts/Sans-Pro/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro-SemiBold;
    src: url("/assets/fonts/Sans-Pro/SourceSansPro-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro-SemiBoldItalic;
    src: url("/assets/fonts/Sans-Pro/SourceSansPro-SemiBoldItalic.ttf") format("truetype");
}

/* END IMPORT FONTS */

*{
    font-family: SourceSansPro-Light;
    margin: 0;
    padding: 0;
}

body{
    background-color: $primary-color;
    color: $main-font-light;
}



