<div class="steps">
    <div class="step minimized">
        <div class="step__header">
            <i class="step__chevron fas fa-chevron-up"></i>
            <div class="step__header__subtitle">August 2022 - Present</div>
            <div class="step__header__title">Next Digital</div>
            <div class="step__header__subtitle">Full Stack Developer</div>
        </div>
        <div class="step__content">
            <div class = "stepper__separator"></div>
            <p class = "stepper__text">Currently Wworking for <i>Iberia Airlines</i> with <b>Angular</b> and <b>Java Spring Boot</b></p>
        </div>
    </div>
    <div class="step minimized">
        <div class="step__header">
            <i class="step__chevron fas fa-chevron-up"></i>
            <div class="step__header__subtitle">September 2019 - July 2022</div>
            <div class="step__header__title">NTT Data Europe & Latam</div>
            <div class="step__header__subtitle">Solutions Analyst</div>
        </div>
        <div class="step__content">
            <div class = "stepper__separator"></div>
            <p class = "stepper__text">· Development of a Workflow creation tool for <i>Allianz Insurance</i> company, made in <b>Angular</b> and <b>Java Spring Boot</b>. Using Git / Github as versioning tool and working with Scrum methodology.</p>
            <p class = "stepper__text">· Development of a customers web portal for <i>Zurich Insurance</i> company. Working in <b>Java</b> with an inhouse architecture, and other technologies such as <b>HTML, CSS and JS</b>. Some of my duties were requirements analysis, functional and technical documentation, estimations and tasks management. Using SVN as versioning tool and working with Scrum methodology.</p>
        </div>
    </div>
    <div class="step minimized">
        <div class="step__header">
            <i class="step__chevron fas fa-chevron-up"></i>
            <div class="step__header__subtitle">February 2019 - June 2019</div>
            <div class="step__header__title">EUTI Software</div>
            <div class="step__header__subtitle">Software developer</div>
        </div>
        <div class="step__content">
            <div class = "stepper__separator"></div>
            <p class = "stepper__text">Development of a multi-platform application made in <b>Xamarin.Forms (C#)</b>, published for Android and iOS Smartphones. Maintenance of a server made in <b>Visual Basic .Net</b>. Customer service troubleshooting.</p>
        </div>
    </div>
</div>