<div class="steps">
    <div class="step minimized">
        <div class="step__header">
            <i class="step__chevron fas fa-chevron-up"></i>
            <div class="step__header__subtitle">July 2021 - Present time</div>
            <div class="step__header__title">NTT Data Europe & Latam</div>
            <div class="step__header__subtitle">Solutions Analyst</div>
        </div>
        <div class="step__content">
            <div class = "stepper__separator"></div>
            <p class = "stepper__text">Development of a Workflow creation tool for Allianz Insurance company, made in Angular and Java Spring Boot. Using Git / Github as versioning tool and working with Scrum methodology.</p>
            <p class = "stepper__text">Development of a customers web portal for Zurich Insurance company. Working in Java with an inhouse architecture, and other technologies such as HTML, CSS and JS. Some of my duties were requirements analysis, functional and technical documentation, estimations and tasks management. Using SVN as versioning tool and working with Scrum methodology.</p>
        </div>
    </div>
    <div class="step minimized">
        <div class="step__header">
            <i class="step__chevron fas fa-chevron-up"></i>
            <div class="step__header__subtitle">February 2019 - June 2019</div>
            <div class="step__header__title">EUTI Software</div>
            <div class="step__header__subtitle">Software developer</div>
        </div>
        <div class="step__content">
            <div class = "stepper__separator"></div>
            <p class = "stepper__text">Development of a multi-platform application made in Xamarin.Forms (C#), published for Android and iOS Smartphones. Maintenance of a server made in Visual Basic .net. Customer service troubleshooting.</p>
        </div>
    </div>
</div>