<div class = "content__section">
    <h1 class = "content__title content__title__glitch" data-text="Node + Express API">Node + Express API</h1>
    <div class = "content__wrapper">
        <p class = "content__text">Since my expertise on backend development is with Java and SpringBoot, to learn more about other technologies, I decided to create an API Rest on Node and Express.</p>
        <p class = "content__text">The API Rest has several endpoints developed and is connected to an external MongoDB database with the use of Mongoose.</p>
        
        <!-- <img class = "content__img" src="assets/images/engines/TesseractEngine/tesseract.png"> -->
        <a class = "content__link" target="_blank" href="https://github.com/magalenyo/NodeAPI">Node + Express API Github repository</a>
    </div>
</div>
