<div class = "content__section">
    <h1 class = "content__title content__title__glitch" data-text="IsItRealEngine & RealDisunity Video Game Engine">IsItRealEngine & RealDisunity Video Game Engine</h1>
    <div class = "content__wrapper">
        <p class = "content__text">As part of our Master's Degree program, we developed a small video game engine individually made from scratch in C++ and OpenGL. Mine was named <b>IsItRealEngine</b> and it could render 2D images and 3D models, as well as importing new models, allowed camera movement and management, configuration and monitoring panels.</p>            
        <img class = "content__img" src="assets/images/engines/IsItRealEngine/IsItRealEngine.png">
        <a class = "content__link" target="_blank" href="https://github.com/magalenyo/RealDisunity/releases/tag/v1.1">IsItRealEngine Github repository</a>

        <p class = "content__text">Once we developed our own video game engines, we grouped in pairs and created a more advanced engine. Ours was named <b>RealDisunity Engine</b> and it introduced frustum culling, scene management (save and load), game objects hierarchies, components management, materials creation, phong shader, panels docking, etc.</p>
        <img class = "content__img" src="assets/images/engines/RealDisunityEngine/RealDisunity1.png">
        <img class = "content__img" src="assets/images/engines/RealDisunityEngine/RealDisunity2.png">
        <a class = "content__link" target="_blank" href="https://github.com/magalenyo/RealDisunity/releases/tag/2.0">RealDisunity Github repository</a>
    </div>
</div>
