.steps {
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.3);
    padding: 36px 0;
    padding-bottom: 4px;
    position: relative;
    margin: auto;
    background-color: #0f0f12;
}

.steps::after {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 5px 0px var(--primary-color);
    border-radius: 15px;
    left: calc(50px / 2);
    bottom: 24px;
    transform: translateX(-45%);
    z-index: 2;
}

.step {
    padding: 0 20px 24px 50px;
    position: relative;
    transition: all 0.4s ease-in-out;
    // background-color: #fff;
}

.step::before {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: rgb(198, 198, 198);
    border-radius: 15px;
    left: calc(50px / 2);
    transform: translateX(-45%);
    z-index: 2;
    top: 10px;
}

.step::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: rgb(198, 198, 198);
    left: calc(50px / 2);
    top: 10px;
    z-index: 1;
}

.step:last-child::after {
    content: none;
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: rgb(198, 198, 198);
    left: calc(50px / 2);
    top: 0;
    z-index: 1;
}

.step.minimized {
    // background-color: #fff;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.step__header__title {
    user-select: none;
    font-size: 22px;
    // font-weight: bold;
    // color: rgba(0, 0, 0, 0.6);
}

.step__header__subtitle {
    user-select: none;
    font-size: 18px;
}

.step__content {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;

    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
    max-height: 500px;
}

.step.minimized > .step__content {
    max-height: 0px;
}

.step__chevron{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 8px;
    transition-duration: .4s;
}

.step.minimized .step__chevron {
    transform: rotate(180deg);
}

.next-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: red;
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3);
    color: #fff;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    transform: translate(-50%, -50%);
    display:block;
}

.close-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: rgb(255, 0, 255);
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3);
    color: #fff;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

/* Irrelevant styling things */
.close-btn:hover {
    background-color: rgba(255, 0, 255, 0.6);
}

.close-btn:focus {
    outline: 0;
}

.next-btn:hover {
    background-color: rgba(255, 0, 0, 0.6);
}

.next-btn:focus {
    outline: 0;
}

.step.minimized:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.stepper__separator{
    height: 1px;
    width: 100%;
    background-color: #767676;
    margin: 2px auto;
    margin-bottom: 8px;
    border-radius: 10px;
}

.stepper__text{
    font-size: 16px;
}

/*************************************************************************************/
/************************************MEDIA QUERIES************************************/
/*************************************************************************************/

$breakpoint-tablet: 768px;

@media screen and (max-width: $breakpoint-tablet) {

    .stepper__text{
        text-align: justify;
    }

    .step__header__title {
        font-size: 18px;
    }

}