<div class = "content__section">
    <h1 class = "content__title content__title__glitch" data-text="Morphing">Morphing</h1>
    <div class = "content__wrapper">
        <p class = "content__text">A series of VFX and materials to morph between two meshes.</p>
        <video class = "material__video" src = "assets/images/ue-materials/morphing/cardview.mp4" playsinline autoplay muted="true" defaultMuted loop></video>
        
        <p class = "content__text">This VFX is in a different repository.</p>
        <a class = "content__link" target="_blank" href="https://github.com/magalenyo/Morphing">Morphing Github Repository</a>
    </div>
</div>
